.chatSupport{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background-color: white;
    position: fixed;
    display: flex;
    bottom: 2rem;
    right: 2rem;
    z-index: 999;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.chatSupport svg{
    font-size: 1.5rem;
}