.message p{
    background-color: #3556c4;
    color: whites ;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin: 0.5rem;
    width: fit-content;

}
.message_main{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}