.support_container{
    display: flex;
    height: 100vh;
    width: 100%;
    /* border: 2px solid ; */
    background-color: gainsboro;
}
.side_menu{
    width: 30%;
    height: 100%;
    background-color: #f6f9f8;
}
.chatBox {
    width: 100%;
}
.chatBox_header{
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 2rem;
    align-items: center;
    background-color: #3556C4;
}
.chatBox_header button {
    width: 55px;
    height: 55px;
    padding: 1rem;
    border: none;
    background-color: #3556c4;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 1.8rem;
    border-radius: 50px;
    transition: background-color 0.5s ease-out;
    text-align: center;
}


.chatBox_header button:hover {
    background-color: #eff3f81a;
}

.chatBox_header button{
    width: 10%;
    padding: 1rem;
    border: none;
    background-color: #3556c4;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 1.8rem;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    transition: 0.5s ease-out;
    text-align: center;
}

.chatBox_header button:hover{
    background-color: #eff3f81a ;
    color: white;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    transition: 0.5s ease-out;
}
.chatBox_header h1{
    color: white;
}
.chatBox_header img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.chatBox_Main{
    overflow-y: scroll;
    display: flex;
    height: 81.6vh;
    /* flex-direction: column-reverse; */
    flex-direction: column;
}
.chat_form{
    /* border: 2px solid royalblue; */
    display: flex;
}
.chat_form input{
    width: 70vw;
    padding: 1rem;
    border: none;
    background-color: #e8f0fe;
    outline: none;
}
.chat_form  button{
    width: 10%;
    padding: 1rem;
    border: none;
    background-color: #3556c4;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
}